body {
    background-color: lightgreen;
    font-family: 'Varela', sans-serif;
}

#basketball {
    height: 100px;
    width: 100px;
}

img {
    height: 700px;
    width: 700px;
}

#schedule {
    transform: rotate(90deg);
}

#dailyReservations {
    margin-bottom: 50px;
}
